.container
  %h2.section-title= @board.title
  = link_to new_board_task_path do
    .card-new + Add New Card
  - @tasks.each do |task|
    
    = link_to board_task_path(@board,task) do
      .card
        .card-content
          - if task.eyecatch.attached?
            .card-eyecatch
              = image_tag task.eyecatch, class:'card-eyecatch'
          .card-menu
            .card-title
              %h2= task.card_title
            - if user_signed_in? && current_user.has_written_task?(task)
              .dropdown
                = image_tag "edit.png", class: "dropbtn"
                .dropdown-content.mini
                  = link_to "編集する", edit_board_task_path(@board,task.id)
                  = link_to "削除する", board_task_path(@board,task.id), data: { method: 'delete', confirm: "本当に削除してよろしいですか？"}
          .card-text
            %p= task.card_content
          - if task.deadline.present?
            .card-deadline
              %p
                deadline：#{task.deadline}
          .card-menu
            .card-avatar
              = image_tag task.user.avatar_image, class: 'card-avatar'
            .card-comment
              = image_tag 'comment-count.png', class: 'card-comment-img'
  

