.container
  %h2.section-title Board Edit
  %ul
    - @board.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @board, local: true) do |f|
    %div
      = f.label :title, "name"
      %div
      = f.text_field :title, class: "text"
      %div
      = f.label :content, "description"
      %div
      = f.text_area :content, class: "textarea"
      = f.submit "ボードを作成" ,class: "btn-primary"